In [92]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from math import floor, sqrt, ceil

In [93]:
df = pd.read_csv('data/all_matches_2022.csv')
# https://www.kaggle.com/datasets/arthur1511/lol-esports-2022

/tmp/ipykernel_10100/2369331098.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/all_matches_2022.csv')

In [94]:
df.head(20)

,gameid,datacompleteness,url,league,year,split,playoffs,date,game,patch,...,opp_csat15,golddiffat15,xpdiffat15,csdiffat15,killsat15,assistsat15,deathsat15,opp_killsat15,opp_assistsat15,opp_deathsat15
0,ESPORTSTMNT01_2690210,complete,NaN,LCK CL,2022,Spring,0,2022-01-10 07:44:08,1,12.01,...,121.0,391.0,345.0,14.0,0.0,1.0,0.0,0.0,1.0,0.0
1,ESPORTSTMNT01_2690210,complete,NaN,LCK CL,2022,Spring,0,2022-01-10 07:44:08,1,12.01,...,100.0,541.0,-275.0,-11.0,2.0,3.0,2.0,0.0,5.0,1.0
2,ESPORTSTMNT01_2690210,complete,NaN,LCK CL,2022,Spring,0,2022-01-10 07:44:08,1,12.01,...,119.0,-475.0,153.0,1.0,0.0,3.0,0.0,3.0,3.0,2.0
3,ESPORTSTMNT01_2690210,complete,NaN,LCK CL,2022,Spring,0,2022-01-10 07:44:08,1,12.01,...,149.0,-793.0,-1343.0,-34.0,2.0,1.0,2.0,3.0,3.0,0.0
4,ESPORTSTMNT01_2690210,complete,NaN,LCK CL,2022,Spring,0,2022-01-10 07:44:08,1,12.01,...,21.0,443.0,-497.0,7.0,1.0,2.0,2.0,0.0,6.0,2.0
5,ESPORTSTMNT01_2690210,complete,NaN,LCK CL,2022,Spring,0,2022-01-10 07:44:08,1,12.01,...,135.0,-391.0,-345.0,-14.0,0.0,1.0,0.0,0.0,1.0,0.0
6,ESPORTSTMNT01_2690210,complete,NaN,LCK CL,2022,Spring,0,2022-01-10 07:44:08,1,12.01,...,89.0,-541.0,275.0,11.0,0.0,5.0,1.0,2.0,3.0,2.0
7,ESPORTSTMNT01_2690210,complete,NaN,LCK CL,2022,Spring,0,2022-01-10 07:44:08,1,12.01,...,120.0,475.0,-153.0,-1.0,3.0,3.0,2.0,0.0,3.0,0.0
8,ESPORTSTMNT01_2690210,complete,NaN,LCK CL,2022,Spring,0,2022-01-10 07:44:08,1,12.01,...,115.0,793.0,1343.0,34.0,3.0,3.0,0.0,2.0,1.0,2.0
9,ESPORTSTMNT01_2690210,complete,NaN,LCK CL,2022,Spring,0,2022-01-10 07:44:08,1,12.01,...,28.0,-443.0,497.0,-7.0,0.0,6.0,2.0,1.0,2.0,2.0
10,ESPORTSTMNT01_2690210,complete,NaN,LCK CL,2022,Spring,0,2022-01-10 07:44:08,1,12.01,...,510.0,107.0,-1617.0,-23.0,5.0,10.0,6.0,6.0,18.0,5.0
11,ESPORTSTMNT01_2690210,complete,NaN,LCK CL,2022,Spring,0,2022-01-10 07:44:08,1,12.01,...,487.0,-107.0,1617.0,23.0,6.0,18.0,5.0,5.0,10.0,6.0
12,ESPORTSTMNT01_2690219,complete,NaN,LCK CL,2022,Spring,0,2022-01-10 08:38:24,1,12.01,...,140.0,-1484.0,-652.0,-30.0,0.0,1.0,1.0,1.0,0.0,1.0
13,ESPORTSTMNT01_2690219,complete,NaN,LCK CL,2022,Spring,0,2022-01-10 08:38:24,1,12.01,...,105.0,-6.0,14.0,3.0,1.0,0.0,0.0,1.0,1.0,0.0
14,ESPORTSTMNT01_2690219,complete,NaN,LCK CL,2022,Spring,0,2022-01-10 08:38:24,1,12.01,...,139.0,-384.0,-409.0,0.0,0.0,0.0,2.0,1.0,1.0,0.0
15,ESPORTSTMNT01_2690219,complete,NaN,LCK CL,2022,Spring,0,2022-01-10 08:38:24,1,12.01,...,139.0,38.0,98.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0
16,ESPORTSTMNT01_2690219,complete,NaN,LCK CL,2022,Spring,0,2022-01-10 08:38:24,1,12.01,...,32.0,73.0,43.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
17,ESPORTSTMNT01_2690219,complete,NaN,LCK CL,2022,Spring,0,2022-01-10 08:38:24,1,12.01,...,110.0,1484.0,652.0,30.0,1.0,0.0,1.0,0.0,1.0,1.0
18,ESPORTSTMNT01_2690219,complete,NaN,LCK CL,2022,Spring,0,2022-01-10 08:38:24,1,12.01,...,108.0,6.0,-14.0,-3.0,1.0,1.0,0.0,1.0,0.0,0.0
19,ESPORTSTMNT01_2690219,complete,NaN,LCK CL,2022,Spring,0,2022-01-10 08:38:24,1,12.01,...,139.0,384.0,409.0,0.0,1.0,1.0,0.0,0.0,0.0,2.0

In [95]:
leagues = ['LCK', 'SL', 'LCK CL', 'NLC', 'PRM', 'VCS', 'LMF', 'LCS', 'PCS', 'LFL','CBLOL', 'LEC', 'LAS', 'TCL', 'LJL', 'LCO', 'LPLOL', 'NEXO', 'LLA', 'EBL', 'GL', 'PGN', 'WCS','MSI', 'CDF','LCL']

filtered_df = df.loc[
        (df['position'] == 'team') &
        (df['datacompleteness'] == 'complete') &
        (df['league'].isin(leagues)) &
        (df['year'] == 2022)
    ]

In [96]:
removed_columns = [
        'datacompleteness', 
        'position',
        'gameid',
        'year',
        'url',
        'date',
        'playerid',
        'split',
        'playoffs',
        'patch',
        'participantid',
        'playername',
        'teamid',
        'champion',
        'firstbloodkill',
        'firstbloodassist',
        'firstbloodvictim',
        'dragons (type unknown)',
        'damageshare',
        'earnedgold',
        'earned gpm',
        'earnedgoldshare',
        'goldspent',
        'gspd',
        'total cs',
        'monsterkillsownjungle',
        'monsterkillsenemyjungle',
        'damagetochampions',
        'wardskilled',
        'visionscore',
        'goldat10',
        'xpat10',
        'csat10',
        'opp_goldat10',
        'opp_xpat10',
        'opp_csat10',
        'goldat15',
        'xpat15',
        'csat15',
        'opp_goldat15',
        'opp_xpat15',
        'opp_csat15',
        'wardsplaced',
    ]

filtered_df = filtered_df.drop(columns=removed_columns)

In [97]:
divide_per_time = [
    'totalgold',
    'minionkills',
    'monsterkills',
    'controlwardsbought'
]
for column in divide_per_time:
    filtered_df[column] = filtered_df[column] / (filtered_df['gamelength']/60)

filtered_df['gamelength'] = filtered_df['gamelength'] / 60

In [98]:
new_names = {}
for column in divide_per_time:
    new_names[column] = column + '_per_minute'


filtered_df = filtered_df.rename(columns=new_names)

In [99]:
non_normalizable_columns = [
        'league',
        'game',
        'side',
        'teamname',
        'ban1',
        'ban2',
        'ban3',
        'ban4',
        'ban5',
        'result',
        'firstblood',
        'firstdragon',
        'firstherald',
        'firstbaron',
        'firsttower',
        'firstmidtower',
        'firsttothreetowers',
]

normalizable_columns = list(filter(
    lambda column : non_normalizable_columns.count(column) == 0, 
    list(filtered_df.columns)
))

for column in normalizable_columns: 
        filtered_df[column] = (filtered_df[column] - filtered_df[column].mean()) / filtered_df[column].std()

Analisando atributos com maior correlação em relação a coluna alvo 'result'

In [100]:
top15pearsonCorrelations =  filtered_df.corr(numeric_only=True)['result'].sort_values().tail(16)
top15pearsonCorrelations

golddiffat15               0.540542
firsttothreetowers         0.555000
monsterkills_per_minute    0.565751
elementaldrakes            0.586517
dragons                    0.587794
doublekills                0.594394
barons                     0.628934
firstbaron                 0.663992
team kpm                   0.681801
assists                    0.682777
teamkills                  0.686663
kills                      0.686663
inhibitors                 0.749887
totalgold_per_minute       0.826226
towers                     0.885757
result                     1.000000
Name: result, dtype: float64

Filtrando novas colunas baseado nas correlações analisadas

In [101]:
final_columns = list(top15pearsonCorrelations.keys())
filtered_df = filtered_df.loc[:, final_columns]
filtered_df.describe()

,golddiffat15,firsttothreetowers,monsterkills_per_minute,elementaldrakes,dragons,doublekills,barons,firstbaron,team kpm,assists,teamkills,kills,inhibitors,totalgold_per_minute,towers,result
count,12000.000000,12000.000000,1.200000e+04,1.191200e+04,1.200000e+04,1.200000e+04,1.200000e+04,12000.000000,1.200000e+04,1.200000e+04,1.200000e+04,1.200000e+04,1.200000e+04,1.200000e+04,1.200000e+04,12000.000000
mean,0.000000,0.500000,-4.263256e-17,1.622462e-16,-5.684342e-17,2.368476e-17,1.776357e-18,0.475083,5.684342e-17,-9.947598e-17,-1.136868e-16,-1.136868e-16,-4.144833e-17,3.789561e-16,-5.684342e-17,0.500000
std,1.000000,0.500021,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.499400,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.500021
min,-4.864279,0.000000,-3.736063e+00,-1.659638e+00,-1.633802e+00,-1.032706e+00,-9.325893e-01,0.000000,-1.792247e+00,-1.777234e+00,-1.917098e+00,-1.917098e+00,-8.515699e-01,-2.606794e+00,-1.669662e+00,0.000000
25%,-0.616726,0.000000,-6.890593e-01,-9.088270e-01,-9.116532e-01,-1.032706e+00,-9.325893e-01,0.000000,-7.641840e-01,-8.168699e-01,-8.159503e-01,-8.159503e-01,-8.515699e-01,-8.591696e-01,-8.425735e-01,0.000000
50%,0.000000,0.500000,-1.000332e-02,-1.580158e-01,-1.895040e-01,-3.960519e-01,4.425731e-01,0.000000,-1.263937e-01,-2.598162e-02,9.910328e-03,9.910328e-03,6.066352e-02,-2.503037e-02,2.602113e-01,0.500000
75%,0.616726,1.000000,6.820915e-01,5.927955e-01,5.326452e-01,8.772564e-01,4.425731e-01,1.000000,6.154491e-01,7.084146e-01,6.981275e-01,6.981275e-01,9.728969e-01,7.893868e-01,8.116037e-01,1.000000
max,4.864279,1.000000,3.656554e+00,1.343607e+00,2.699093e+00,5.970490e+00,4.568060e+00,1.000000,6.259615e+00,4.832332e+00,4.414500e+00,4.414500e+00,6.446297e+00,4.153295e+00,1.362996e+00,1.000000

 Usando holdhout

In [102]:

sampled_df = filtered_df.sample(frac=1)

size = len(sampled_df) 
train_size = floor(size * 0.9)
test_size = size - train_size
train_df = sampled_df.head(train_size)
test_df = sampled_df.tail(test_size)

test_df = test_df.drop(columns='result')
train_df.describe()

,golddiffat15,firsttothreetowers,monsterkills_per_minute,elementaldrakes,dragons,doublekills,barons,firstbaron,team kpm,assists,teamkills,kills,inhibitors,totalgold_per_minute,towers,result
count,10800.000000,10800.000000,10800.000000,10721.000000,10800.000000,10800.000000,10800.000000,10800.000000,10800.000000,10800.000000,10800.000000,10800.000000,10800.000000,10800.000000,10800.000000,10800.000000
mean,-0.001646,0.499074,0.001207,0.001097,0.001397,0.000265,0.004049,0.476389,-0.000326,0.001762,0.002174,0.002174,0.002213,0.000717,0.002640,0.500093
std,0.994886,0.500022,1.000663,0.999471,0.999582,0.999462,1.000458,0.499465,0.994169,0.997287,0.997344,0.997344,1.000183,0.995542,0.998439,0.500023
min,-4.864279,0.000000,-3.736063,-1.659638,-1.633802,-1.032706,-0.932589,0.000000,-1.792247,-1.777234,-1.917098,-1.917098,-0.851570,-2.606794,-1.669662,0.000000
25%,-0.615513,0.000000,-0.684974,-0.908827,-0.911653,-1.032706,-0.932589,0.000000,-0.757700,-0.816870,-0.815950,-0.815950,-0.851570,-0.856573,-0.842574,0.000000
50%,-0.002426,0.000000,-0.003537,-0.158016,-0.189504,-0.396052,0.442573,0.000000,-0.124975,-0.025982,0.009910,0.009910,0.060664,-0.025513,0.260211,1.000000
75%,0.613492,1.000000,0.685566,0.592795,0.532645,0.877256,0.442573,1.000000,0.614233,0.708415,0.698128,0.698128,0.972897,0.784879,0.811604,1.000000
max,4.864279,1.000000,3.656554,1.343607,2.699093,5.970490,4.568060,1.000000,6.259615,4.832332,4.414500,4.414500,6.446297,4.153295,1.362996,1.000000

Realizando o KNN do teste_df para o train_df

In [103]:
test_rows = test_df.copy(deep=True)
test_columns = test_df.columns.values

responses = {}
for k in range(1, 20, 2):
    responses[k] = []

for _, test_row in test_rows.iterrows():
    def dist(train_row):    
        row_dist = 0
        for c in test_columns:
            row_dist += abs(train_row[c] - test_row[c])
        return row_dist

    distances = train_df.apply(dist, axis=1)

    sorted_dists = distances.sort_values()

    for k in range(1, 20, 2):
        
        topk_dists = sorted_dists.head(k)
        topk_indexes = topk_dists.keys()

        k_neighbours_df = train_df.loc[topk_indexes, 'result']

        res = int(k_neighbours_df.sum() >= ceil(k/2))
        responses[k].append(res)

for k in range(1, 20, 2):
    test_rows['result' + str(k)] = responses[k]

In [104]:
for k in range(1, 20, 2):
    conf_mat = pd.crosstab(
        sampled_df.loc[test_rows.index,]['result'], 
        test_rows['result' + str(k)],
        rownames=['Valor real'],
        colnames=['Valor predito'],
        )
    print(f"Para K = {k}:")
    print(conf_mat, end="\n\n")

Para K = 1:
Valor predito    0    1
Valor real
0              569   32
1               10  589

Para K = 3:
Valor predito    0    1
Valor real
0              564   37
1                5  594

Para K = 5:
Valor predito    0    1
Valor real
0              565   36
1                6  593

Para K = 7:
Valor predito    0    1
Valor real
0              565   36
1                5  594

Para K = 9:
Valor predito    0    1
Valor real
0              564   37
1                4  595

Para K = 11:
Valor predito    0    1
Valor real
0              563   38
1                5  594

Para K = 13:
Valor predito    0    1
Valor real
0              562   39
1                3  596

Para K = 15:
Valor predito    0    1
Valor real
0              563   38
1                2  597

Para K = 17:
Valor predito    0    1
Valor real
0              562   39
1                2  597

Para K = 19:
Valor predito    0    1
Valor real
0              562   39
1                2  597